@import '../app/vars.scss';

.currency-pannel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 48px;

    &__title {
        margin: 70px 0px;
        font-weight: 700;
        font-size: 36px;
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__input-pickers {
        @include pickersPadding();
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        border: 2px solid $block-border-color;
        border-radius: 6px;
        box-shadow: 0px 0px 3px $block-border-color;
    }

    &__picker:nth-child(1) {
        margin-right: 60px;
    }

}

.flatpickr-input {
    display: none;
}

.flatpickr {
    border: 2px solid $block-border-color;
    border-radius: 6px;
    box-shadow: 0px 0px 3px $block-border-color;


    &-months &-month,
    &-weekdays,
    &-weekday {
        background-color: $main-color;
    }

    &-weekday {
        color: #fff;
    }

    &-current-month &-monthDropdown-months,
    &-current-month &-monthDropdown-months &-monthDropdown-month {
        background-color: $main-color;
    }

    &-monthDropdown-mont {
        color: #fff;
    }

}

span.flatpickr-weekday {
    color: #fff;
    background-color: $main-color;
}

.flatpickr-day.selected {
    background-color: $main-color;
    border: none;

    &:hover {
        background-color: $main-color;
    }
}

.flatpickr-day.selected.nextMonthDay {
    background-color: $main-color;
}

.flatpickr-day {
    &:hover {
        background-color: $main-color;
        color: #fff;
    }
}

.flatpickr-day.flatpickr-disabled {
    color: rgba(52, 52, 52, 0.221)
}



@media (max-width: 1420px) {
    .currency-pannel {
        &__wrapper{
            justify-content: space-around;
        }
        &__input-pickers {
            justify-content: flex-start;
            flex-basis: 0;
        }

        &__picker:nth-child(1) {
            margin-right: 0px;
        }
        &__picker:nth-child(2) {
            margin-top: 32px;
        }
    }
}


@media(max-width: 1660px) {
    .container {
        width: 100%;
    }
}