@import '../app/vars.scss';

.abbr-picker{
    position: relative;

    &__input-wrapper svg{
        @include flagSize();
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translate(0, -50%);
    }

    &__input{
        font-size: 24px;
        @include inputPadding();
        border: 3px solid rgba(134, 31, 65, 0);
        border-bottom: 3px solid #861F41;
        background-color: rgba(219, 219, 219, 0.039);
        outline: none;
        transition-duration: 0.1s;
        &:hover{
            background-color: $hover-color;
        }
    }
    &__input_disabled{
        border: 3px solid rgba(134, 31, 65, 0);
        background: none;
        &:hover{
            background-color: none;
        }
    }

    &__items{
        width: 100%;
        background-color: #fff;
        position: absolute;
        max-height: 250px;
        overflow: auto;
        z-index: 10;
    }
}
