@import '../app/vars.scss';

.footer{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    text-align: center;
    &__title{
        color: $footer-color;
    }
}